<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div>
        <h1>Моя идея Web-прилежение аптека</h1>
        <h2>
            Целевая аудитория: кто будет использовать ваше приложение, какие
            у них нужды и проблемы
        </h2>
        <p>
            Любой человек кто нуждается в лекарстве. Также поиск дешевого лекарства
        </p>
        <h2>
            Функционал: какие задачи должно решать приложение, какие функции
            должно предоставлять пользователям.
        </h2>
        <p>
            Использовать моё приложение будут для покупки и поиска лекарств, поиска аптек по карте, сравнение цен,
            оплата онлайн, напоминание о принятии лекарств и т.д.
        </p>
        <h2>
            Распределение контента и функционала по веб-страницам: на какой
            странице какой контент и функции будут располагаться.
        </h2>
        <p>
        <ol>
            <li>
                Главная страница: Банеры с рекламой продукта, популярные товары, баланс на счету, поиск лекарств по
                названию и т.д.
            </li>
            <li>
                История: история покупок и т.д.
            </li>
            <li>
                Будильник: напоминание о принятии лекарств
            </li>
            <li>
                Профиль: личная информация, кошелёк и т.д.
            </li>
        </ol>
        </p>
        <h2>
            Дизайн: как приложение будет выглядеть с точки зрения дизайна.
            Минимум 3 ссылки на сторонние сайты, которые по дизайну будут
            схожи с вашим проектом.
        </h2>
        <p>
            Референсы:<br>
            <a href="https://gopharm.uz/">gopharm.uz</a><br>
            <a href="https://osonapteka.uz/">osonapteka.uz</a><br>
            <a href="https://apotheca.uz/ru">apotheca.uz/ru</a><br>
        </p>
    </div>
</body>

</html>